body {
    font-family: Calibri, sans-serif;
  }
  
  h1, h3, h4, header {
    color: #8B4513;
  }
  h2{
    font-size: large;
  }
  h5{
    margin-bottom: auto;
    color: chocolate;
  }
  footer {
    background-color:chocolate;
  }
  
  footer p {
    color: #fff;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;